{{#zone "main"}}
    <!-- content/body -->
    <div class="row">
        <div class="col-md-12">
            <!-- content -->
            <div id="role-create-form" class="container col-centered wr-content">
                <div class="wr-form">
                    <p class="page-sub-title">添加角色</p>
                    <p>请注意 * 为必填选项</p>
                    <hr />
                    <div class="row">
                        <div class="col-lg-8">
                            <div id="role-create-error-msg" class="alert alert-danger hidden" role="alert">
                                <i class="icon fw fw-error"></i><span></span>
                            </div>
                            <label class="wr-input-label">域</label>
                            <div class="wr-input-control">
                                <select id="domain" class="form-control select" >
                                    <option>PRIMARY</option>
                                    {{#each userStores}}
                                        <option>{{this}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <label class="wr-input-label">
                                角色名称 * <br>
                                ( 小写字母，长度至少为3，不能包含空格 )
                            </label>
                            <div class="wr-input-control">
                                <input type="text" id="rolename" class="form-control" placeholder="[ Required field ]"/>
                            </div>
                            <label class="wr-input-label">
                                用户列表
                            </label>
                            <div class="wr-input-control">
                                <select id="users" class="form-control select2" multiple="multiple">
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button id="add-role-btn" class="wr-btn">&nbsp;&nbsp;&nbsp;&nbsp;Add Role&nbsp;&nbsp;&nbsp;&nbsp;</button>
                </div>
            </div>
            <div id="role-created-msg" class="container col-centered wr-content hidden">
                <div class="wr-form">
                    <p class="page-sub-title">角色添加成功</p>
                    <br>添加角色，请点击 <b>"添加角色"</b>,
                    返回角色列表，请点击<b>"角色列表"</b>
                    <hr />
                    <button class="wr-btn" onclick="window.location.href='/emm/roles'">角色列表</button>
                    <a href="/emm/roles/add-role" class="cu-btn-inner">
                        <span class="fw-stack">
                            <i class="fw fw-ring fw-stack-2x"></i>
                            <i class="fw fw-add fw-stack-1x"></i>
                        </span>
                        添加角色
                    </a>
                </div>
            </div>
            <!-- /content -->
        </div>
    </div>
    <!-- /content/body -->
{{/zone}}
{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/bottomJs.js"></script>
{{/zone}}

