{{#zone "main"}}
    <!-- content/body -->
    <div class="row">
        <div class="col-md-12">
            <!-- content -->
            <div id="role-create-form" class="container col-centered wr-content">
                <div class="wr-form">
                    <p class="page-sub-title">编辑角色</p>
                    <p>请注意 * 为必填选项</p>
                    <hr />
                    <div class="row">
                        <div class="col-lg-8">
                            <div id="role-create-error-msg" class="alert alert-danger hidden" role="alert">
                                <i class="icon fw fw-error"></i><span></span>
                            </div>
                            <label class="wr-input-label">域</label>
                            <div class="wr-input-control">
                                <input type="text" id="domain" class="form-control" placeholder=""
                                       value="PRIMARY"/>
                            </div>
                            <label class="wr-input-label">
                                角色名称 * <br>
                                ( 小写字母，长度至少为3，不能包含空格 )
                            </label>
                            <div class="wr-input-control">
                                <input type="text" id="rolename" class="form-control" data-currentrole="{{role.roleName}}" placeholder="[ 必填 ]"
                                        value="{{role.roleName}}"/>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button id="add-role-btn" class="wr-btn">&nbsp;&nbsp;&nbsp;&nbsp;更新角色&nbsp;&nbsp;&nbsp;&nbsp;</button>
                </div>
            </div>
            <div id="role-created-msg" class="container col-centered wr-content hidden">
                <div class="wr-form">
                    <p class="page-sub-title">更新角色成功</p>
                    <br>查看更新角色，请点击 <b>"查看更新角色"</b>,
                    返回角色列表，请点击<b>"角色列表"</b>
                    <hr />
                    <button class="wr-btn" onclick="window.location.href='/emm/roles'">角色列表</button>
                    <a href="/emm/roles/edit-role/{{role.roleName}}" class="cu-btn-inner">
                        <span class="fw-stack">
                            <i class="fw fw-ring fw-stack-2x"></i>
                            <i class="fw fw-add fw-stack-1x"></i>
                        </span>
                        查看更新角色
                    </a>
                </div>
            </div>
            <!-- /content -->
        </div>
    </div>
    <!-- /content/body -->
{{/zone}}
{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/bottomJs.js"></script>
{{/zone}}

