{{#zone "main"}}
    <!-- content/body -->
    <div class="row">
        <div class="col-md-12">
            <!-- content -->
            <div id="role-create-form" class="container col-centered wr-content">
                <div class="wr-form">
                    <p class="page-sub-title">修改角色权限</p>
                    <p>请注意 * 为必填选项</p>
                    <hr />
                    <div class="row">
                        <div class="col-lg-8">
                            <div id="role-create-error-msg" class="alert alert-danger hidden" role="alert">
                                <i class="icon fw fw-error"></i><span></span>
                            </div>
                            <div id="permissionList" class="well" data-currentrole="{{roleName}}">
                                <div id="loading-content" class="col-centered">
                                    <i class="fw fw-settings fw-spin fw-2x"></i>
                                    &nbsp;&nbsp;&nbsp;
                                    加载权限列表 . . .
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button id="update-permissions-btn" class="wr-btn">&nbsp;&nbsp;&nbsp;&nbsp;更新角色权限&nbsp;&nbsp;&nbsp;&nbsp;</button>
                </div>
            </div>
            <div id="role-created-msg" class="container col-centered wr-content hidden">
                <div class="wr-form">
                    <p class="page-sub-title">权限分配成功</p>
                    <br>继续添加角色，请点击 <b>"添加角色"</b>,
                    返回角色列表，请点击<b>"角色列表"</b>
                    <hr />
                    <button class="wr-btn" onclick="window.location.href='/emm/roles'">角色列表</button>
                    <a href="/emm/roles/add-role" class="cu-btn-inner">
                        <span class="fw-stack">
                            <i class="fw fw-ring fw-stack-2x"></i>
                            <i class="fw fw-add fw-stack-1x"></i>
                        </span>
                        添加角色
                    </a>
                </div>
            </div>
            <div id="child-deselect-error-content" class="hide">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-6 col-centered">
                                            <h3>在取消子权限前，请先取消父权限</h3>
                                            <div class="buttons">
                                                <a href="#" id="child-deselect-error-link" class="btn-operations">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                         </div>
            <!-- /content -->
        </div>
    </div>
    <!-- /content/body -->
{{/zone}}
{{#zone "bottomJs"}}
    <script id="list-partial" src="{{self.publicURL}}/templates/list-partial.hbs" type="text/x-handlebars-template" ></script>
    <script id="tree-template" src="{{self.publicURL}}/templates/tree-template.hbs" type="text/x-handlebars-template" ></script>
    <script src="{{self.publicURL}}/js/bottomJs.js"></script>
{{/zone}}

